@import './color.scss';

.wrapper {
  margin: 0;
  background: $bg-main;
  color: #24292e;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 21px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
