$text-white: #fff;
$text-black: #000;
$text-grey: #5E6C84;

$bg-main: #0079bf;
$bg-dark: #0067A3;
$bg-white: #fff;
$bg-grey: #ebecf0;

$scrollbar-track: $bg-white;
$scrollbar-thumb: #cbcbcb;

$bg-dialog: rgba(0, 0, 0, 0.5);

