@import './color.scss';

html,
body,
#app {
  margin: 0;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: $text-black;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $scrollbar-track;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb;
  border-radius: 5px;
  width: 5px;
}
