@import '../color.scss';

.footer {
  display: flex;
  justify-content: space-between;
  color: $text-white;
  background: $bg-dark;
}

.state {
  margin: 0;
  display: flex;
  align-items: center;
}

.state__item,
.about {
  margin: 0;
  padding: 17px 35px;
}
