@import '../color.scss';

.profile {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  background: $bg-white;
  text-align: center;
  border-radius: 50%;

  svg {
    position: relative;
    top: 5px;
  }
}

.arrow {
  padding: 10px;

  &--open {
    padding: 10px;
    transform: rotate(180deg);
  }
}
