@import '../color.scss';

.toolbar {
  display: flex;
  align-items: center;

  &__button {
    border-radius: 5px;
    background: $bg-white;
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid $text-grey;

    &:hover {
      background: $bg-grey;
    }
  }
}
