$primary-color: white;
$bg: #0079BF;
$bg-header: #0067A3;
$txt-dark: #24292E;
$txt-light: #FFFFFF;
$ff: 'Roboto', sans-serif;;
/*      Common styles     */

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#app {
  margin: 0;
  background: $bg;
  font-family: $ff;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
}

/*      Scroll      */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #CBCBCB;
  border-radius: 5px;
  width: 5px;
}

/*      Header      */

.header {
  background-color: #0067A3;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  flex: 0 0 auto;
}

.logo {
  font-size: 28px;
  line-height: 33px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.logo__link {
  margin-left: 10px;
  color: #FFFFFF;
  position: relative;
  top: 5px;
}

.logo__link:visited {
  color: #FFFFFF;
}

.toolbar {
  display: flex;
  align-items: center;
  position: relative;
}

.toolbar__button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: #FFFFFF;
  padding: 2px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.toolbar__button span {
  padding: 5px 10px;
}

.profile {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  text-align: center;
  border-radius: 50%;
}

.avatar svg {
  position: relative;
  top: 5px;
}

.arrow {
  padding: 10px;
}

.menu {
  position: absolute;
  top: 55px;
  right: 0;
  background: #EBECF0;
  border-radius: 10px;
  box-shadow: 0 5px 25px 10px #0067A3;
}

.menu__list {
  padding: 0;
  margin: 0;
}

.menu__item {
  padding: 15px 30px;
  text-align: center;
  border-radius: 10px;
}

.menu__item:hover {
  background: #FFFFFF;
}

.menu__link:visited {
  color: #000000;
}

.open {
  transform: rotate(180deg);
}
/*      Main      */

.main {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

.card {
  box-sizing: border-box;
  min-width: 260px;
  width: 260px;
  color: #000000;
  background: #EBECF0;
  border-radius: 10px;
  padding: 12px;
  padding-right: 0;
  margin-right: 25px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.card__header {
  margin-bottom: 12px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.container {
  height: 100%;
}

.card__list {
  max-height: 100%;
}

.card__item {
  background: #FFFFFF;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 12px;
}

.wrap {
  margin-bottom: 15px;
  margin-right: 12px;
}

.input {
  background: #FFFFFF;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  box-sizing: border-box;
}

.select {
  background: #FFFFFF;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  height: 41px;
  border: none;
  font-size: 18px;
  box-sizing: border-box;
}

.card__button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  padding: 10px 5px;
  font-size: 18px;
  line-height: 21px;
  color: #5E6C84;
  position: relative;
  top: 2px;
}

.card__button:disabled {
  opacity: 0.4;
}

.card__button span {
  font-size: 28px;
  padding-right: 10px;
}

/*      Footer      */

.footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  background: #0067A3;
}

.state {
  margin: 0;
  display: flex;
  align-items: center;
}

.state__item,
.about {
  margin: 0;
  padding: 17px 35px;
}
